.minidiv{
width: 200px;
height: 200px;
flex-grow: 1;
border: 1px solid blue;
gap: 10px;
}

.minidiv2{
width: 200px;
height: 200px;
flex-grow: 1;
border: 1px solid blue;
gap: 10px;
}


#div{
width: 700px;
height: 700px;
display: flex;
border: 1px solid black;
}

#div2{
width: 700px;
height: 700px;
display: flex;
border: 1px solid black;
}