* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform-origin: center;
  animation: fade 1.2s linear infinite;
}

/* circular positions */
.loader div:nth-child(1)  { transform: rotate(0deg) translate(35px);   animation-delay: 0s; }
.loader div:nth-child(2)  { transform: rotate(30deg) translate(35px);  animation-delay: 0.1s; }
.loader div:nth-child(3)  { transform: rotate(60deg) translate(35px);  animation-delay: 0.2s; }
.loader div:nth-child(4)  { transform: rotate(90deg) translate(35px);  animation-delay: 0.3s; }
.loader div:nth-child(5)  { transform: rotate(120deg) translate(35px); animation-delay: 0.4s; }
.loader div:nth-child(6)  { transform: rotate(150deg) translate(35px); animation-delay: 0.5s; }
.loader div:nth-child(7)  { transform: rotate(180deg) translate(35px); animation-delay: 0.6s; }
.loader div:nth-child(8)  { transform: rotate(210deg) translate(35px); animation-delay: 0.7s; }
.loader div:nth-child(9)  { transform: rotate(240deg) translate(35px); animation-delay: 0.8s; }
.loader div:nth-child(10) { transform: rotate(270deg) translate(35px); animation-delay: 0.9s; }
.loader div:nth-child(11) { transform: rotate(300deg) translate(35px); animation-delay: 1s; }
.loader div:nth-child(12) { transform: rotate(330deg) translate(35px); animation-delay: 1.1s; }

@keyframes fade {
  0%   { opacity: 1; }
  100% { opacity: 0.2; }
}
