
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: #cce7ff;
  }

  .house {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .roof {
    width: 0;
    height: 0;
    border-left: 375px solid transparent;
    border-right: 375px solid transparent;
    border-bottom: 250px solid #816bff;
  }

  .walls {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 750px;
    height: 500px;
    background-color: #ff873d;
    position: relative;
  }

  .door {
    width: 150px;
    height: 250px;
    background-color: #356b26;
    position: absolute;
    bottom: 0;
  }
  .window {
    width: 125px;
    height: 125px;
    background-color: #87ceeb;
    border: 10px solid #000;
    margin-bottom: 200px;
}
#one{
    margin-right: 350px;

}