h1{

}

.nmg{
    border: 10px red solid; width: 150; height: 150;

}
.nmg1{
    border: 10px violet double; width: 200; height: 200;

}
.bla{
    color: blue; text-align: center;
}
.bla1{
    color: rgb(34, 255, 0); text-align: center;
}