#div1{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 100%;
    position: relative;
}
#div2{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    left: 200px;
    bottom: 200px;
}
#div3{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    bottom: 200px;
}
#div4{
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 100%;
    position: relative;
    left: 200px;
    bottom: 400px;

}
img{
    height: 250px;
    width: 250px;
    position: relative;
    left: 75px;
    bottom: 725px;

}
