    .box {
      width: 200px;
      height: 200px;
      background: lightblue;
      margin: 20px;
    }
    .child {
      width: 50px;
      height: 50px;
      background: red;
      position: relative;  /* შეცვალე absolute-ად */
      top: 20px;
      left: 30px;
    }