#parent{
    background: blue;
    width: 305px;
    height: 305px;
    position: relative;
}

.child{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#child1{
    background: blueviolet;
}

#child2{
    background: rgb(255, 0, 0);
    position: relative;
    left: 200px;
    top: 100px;
}

#child3{
    background: rgb(0, 102, 255);
    position: relative;
    left: 100px;
    bottom: 100px;
}
