img{
  width: 200px;
  height: 130px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: cornflowerblue;
  margin: 50px;
  transition: 0.5s;
}
.box:active {
  transform: rotate(-190deg) scale(2);
}
button {
  background: orange;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  transition: transform 0.3s;
}

button:active {
  transform: scale(1.5);
}

.btn1, .btn2 {
  padding: 15px 25px;
  font-size: 18px;
  margin: 40px;
  transition: 0.4s;
  position: relative;
}

.btn1:hover {
  transform: scale(0.8) translate(-160px, -20px);
  background-color: lightcoral;
}

.btn2:active {
  transform: scale(1.3) translate(60px, -45px);
  background-color: lightgreen;
}

.magic {
  width: 100px;
  height: 100px;
  margin: 100px;
  border-radius: 20px;
  transition: 1s;
}

.magic:hover {
  transform: rotate(720deg) scale(1.5) translate(-50px);
  border-radius: 50%;
}